@import url('https://fonts.googleapis.com/css?family=Poppins:wfht@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #2a2b2d;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    z-index: 100;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar .menu-links .nav-link {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.sidebar li .text.nav-text {
    margin-left: 10px;
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}

.sidebar .menu{
    margin-top: 35px;
}

.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    background: var(--primary-color-light);
}

.search-box .fa-magnifying-glass {
    color: white;
    margin: 0 10px 0 15px;
}

.search-box input::placeholder {
    font-size: 13px;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover a.icon,
.sidebar li a:hover a.text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.summoner-info-container{
    display: flex;
}

.summoner-profile-container{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
}

.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
}

.summoner-level {
    font-size: 13px;
    color: var(--text-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summoner-name {
    font-size: 20px;
    color: var(--text-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}


.champion-container{
    background: red;
    padding: 10px;
}

.champion{
    width: 400px;
    height: 70px;
    background: #FFF;
    margin: 10px 0 10px 10px;
}